<div class="container">
   <!--       <app-new-account></app-new-account>
 
<app-new-account (accountAdded) = "onAccountAdded($event)">

</a<app-account *ngFor = "let acc of accounts ; let i = index"
              [account] = "acc"
              [id] = "i"
</app-new-account>
<hr>
              
              

</app-account> 
</div>
-->
<!-- (statusChanged) = "onStatusChanged($event) "-->


<div class="col-xs-12 col-md-8 col-md-offset-2">
  <app-active-users></app-active-users>
<app-inactive-users></app-inactive-users>
</div>
</div>

