<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="container">
      <div class="row">
        <div class="col-xs-12">
       <ol>
         <li>create two components(manully or with cli)</li>
         <li>sdfsdf</li>
         <li>adffd</li>
         <li>sdfsdf</li>
       </ol>
       <p> asdfsdfasdf</p>
       <p>sdfsdfd</p>
       
      </div>
      </div>
    </div>
  <app-sucessalert></app-sucessalert>
  <app-warningalert></app-warningalert>
</div>
