<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success"
              (click)="onlyOdd = !onlyOdd"
              >
          only show odd number
      </button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
            <li class="list-group-item"
                *ngFor ="let num of numbers"
                [ngClass]="{odd : num%2 != 0}"
                [ngStyle] ="{backgroundColor:num%2==0?'brown':'green'}">
                <p >
                  {{num}}
                </p>
              </li>
        </div>
        
      </ul>
      <p appBasicHighlight>Hey style me with Basic Directive</p>
      <p appBetterHighlight> Hey Style me with Better Directive</p>
    </div>
    <div class="col-xs-10"
        [ngSwitch]="num" appBasicHighlight>
        <p *ngSwitchCase="5">Binding data is {{num}}</p>
        <p *ngSwitchCase="6">Binding data is {{num}}</p>
        <p *ngSwitchCase="10">Binding data is {{num}}</p>
        <p *ngSwitchCase="15">Binding data is {{num}}</p>
        <p *ngSwitchDefault>Binding data is {{num}}</p>


    </div>
  </div>
</div>